@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Index";
}
    <div class="table-responsive-sm">
        <table class="table text-center">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Price)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Category)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @CurrencyManager.CalcPrice(item.Price, HttpContextAccessor.HttpContext.Session.GetString("currencyRate")) @HttpContextAccessor.HttpContext.Session.GetString("currencyCode")
                        </td>
                        <td>
                            @{
                                var base64 = Convert.ToBase64String(item.Image);
                                var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                            }
                            <img src="@imgSrc" style="max-width: 100px; max-height:100px" />

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            <a asp-action="Details" asp-route-id="@item.Id" id="@item.Id" class="btn btn-dark">Details</a> | 
                            @Html.ActionLink("Add to Shopping Cart", "AddProductToCart", "ShoppingCart", new { id = item.Id, userEmail = User.Identity.Name }, new { @class = "btn btn-dark", @id = "AddToShoppingCart" + item.Id })

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>