@model IEnumerable<Webshop.Models.OrderItem>

@{
    ViewData["Title"] = "Confirmation";
}

@{
    var orderId = Model.Select(o => o.OrderId).FirstOrDefault();
}

<p>
    Your confirmation number is: @orderId
</p>
<table>
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Product.Image);
                        var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                    }
                    <img src="@imgSrc" style="max-width: 100px; max-height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>

@Html.ActionLink("ShopMore", "Index", "/", null, null)
@Html.ActionLink("Download as PDF", "DownloadConfirmationPdf", "OrderConfirmation", new { orderId = orderId }, null)

<h1>Totalt Betalt @ViewBag.totalPrice KR, betalt via @ViewBag.paymentType</h1>
<p>
    Your order will be delivered to you within: @ViewBag.delivery days.
</p>
