@model System.Collections.Generic.List<Webshop.Models.Product>


    @{
        ViewData["Title"] = "Confirmation";
    }


    @Html.ActionLink("Back", "SelectPaymentAndDeliveryOption", "OrderConfirmation", new {productId = ViewBag.productId, orderId = ViewBag.orderId, quantity = ViewBag.quantity, orderItemId = ViewBag.orderItemId  }, null);

    <p>
        Your confirmaiton number is: @ViewBag.orderConfirmationNumber
    </p>
   




    <table>
        <thead>
            <tr>
                <th>
                    Image
                </th>
                <th>
                    Name
                </th>
                <th>
                    Price
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                        }
                        <img src="@imgSrc" style="max-width: 100px; max-height:100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @Html.ActionLink("ShopMore", "Index", "Home", null, null);

    <h1>Totalt Betalt @ViewBag.totalPrice KR, betalt via @ViewBag.paymentType</h1>
    <p>
        Your order will be delivered to you within: @ViewBag.delivery days. 
    </p>
