@model IEnumerable<Webshop.Models.OrderItem>

@{
    ViewData["Title"] = "Confirmation";
}

<p>
    Your confirmation number is: @Model.Select(o => o.Order.Id).FirstOrDefault()
</p>
<table>
    <thead>
        <tr>
            <th>
                Image
            </th>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Quantity
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @{
                        var base64 = Convert.ToBase64String(item.Product.Image);
                        var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                    }
                    <img src="@imgSrc" style="max-width: 100px; max-height:100px" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
            </tr>
        }
        <tr>
        </tr>
    </tbody>
</table>

@Html.ActionLink("ShopMore", "Index", "/", null, null)
@Html.ActionLink("Download as PDF", "DownloadConfirmationPdf", "OrderConfirmation", new { orderId = ViewBag.orderId }, null)

<h1>Totalt Betalt @ViewBag.totalPrice KR, betalt via @Model.Select(o => o.Order.PaymentOption).FirstOrDefault()</h1>
<p>
    Your order will be delivered to you within: @Model.Select(o => o.Order.DeliveryOption).FirstOrDefault().
</p>
<p>
    This confirmation has also been sent to your email! 
</p>
