<head>
    <link rel="stylesheet" href="~/css/SelectPaymentAndDeliveryOptions.css" />
</head>

@Html.ActionLink("Back", "XXXXXXX", "XXXXXX", null, null)




<form method="post" action="@Url.Action("Confirmation", "OrderConfirmation")">
    <h2> Payment</h2>
    <label>Swish</label>
    <input type="checkbox" id="swish" name="paymentType" value="swish">
    <label>Invoice</label>
    <input type="checkbox" id="invoice" name="paymentType" value="invoice">

    <h2>Delivery</h2>
    <label>2-5 days</label>
    <input type="checkbox" id="twoToFiveDay" name="deliveryTime" value="twoToFiveDay">
    <label>5-10 days</label>
    <input type="checkbox" id="fiveToTenDays" name="deliveryTime" value="fiveToTenDays">
    <label>30 days</label>
    <input type="checkbox" id="thirtyDays" name="deliveryTime" value="thirtyDays">
    <label>Total Price</label>
    <input type="text" name="totalPrice" value="@ViewBag.totalPrice" readonly />
    <input type="text" name="orderItem" value="@ViewBag.orderItems" hidden />

    <input type="submit" value="Order" />
</form>

<h3>Total Price: @ViewBag.totalPrice</h3>