
@Html.ActionLink("Back", "LoginOrRegister", "OrderConfirmation", null, null)


<head>

    <link rel="stylesheet" href="~/css/OrderConfirmation/SelectPaymentAndDeliveryOption.css" />

</head>

<form method="post" action="@Url.Action("Confirmation", "OrderConfirmation")">
    <label>Payment Type</label>

    <select id="paymentType" name="paymentType">
        <option value="Swish">Swish</option>
        <option value="Invoice">Invoice</option>
    </select>
    <br />

    <label>Delivery Time</label>

    <select id="deliveryTime" name="deliveryTime">
        <option value="2-5 days">2-5 Days</option>
        <option value="5-10 days">5-10 Days</option>
        <option value="30 days">30 Days</option>
    </select>

    <br />
    
    <label>Email Address</label>
    <input type="email" name="email" placeholder="Leave blank to email in your profile"/>

    <br />

    <label>Total Price: @CurrencyManager.CalcPrice(decimal.Parse(ViewBag.totalPrice), HttpContextAccessor.HttpContext.Session.GetString("currencyRate"))</label>

    <p style="color:red">@ViewBag.keyCustomer</p>

    <input type="hidden" name="totalPrice" value="@ViewBag.totalPrice" readonly />

    <input type="submit" id="submit" value="Order" />
    <br />
</form>
