

    <head>

        <link rel="stylesheet" href="~/css/OrderConfirmation/SelectPaymentAndDeliveryOption.css" />
        <script src="~/js/OrderJoke.js"></script>
    </head>


    <form method="post" action="@Url.Action("Confirmation", "OrderConfirmation")">
        <label>Payment Type</label>
        <br />
        @{
            var rate = HttpContextAccessor.HttpContext.Session.GetString("currencyRate");
            var code = HttpContextAccessor.HttpContext.Session.GetString("currencyCode");
        }
        <select id="paymentType" name="paymentType" class="btn-dark" style="width:20%;">
            <option value="Swish">Swish</option>
            <option value="Invoice">Invoice</option>
        </select>
        <br />

        <label>Delivery Time</label>
        <br />

        <select id="deliveryTime" name="deliveryTime" class="btn-dark" style="width:20%;" onchange="">
            <option value="2-5 days">2-5 Days (@CurrencyManager.CalcPrice(60, rate) @code)</option>
            <option value="5-10 days">5-10 Days (@CurrencyManager.CalcPrice(40, rate) @code)</option>
            <option value="30 days">30 Days (@CurrencyManager.CalcPrice(20, rate) @code)</option>
        </select>
        <br />

        <label>Email Address</label>
        <br />
        <input type="email" name="email" id="email" style="width:20%;" placeholder="Optional" />

        <br />

        <label style="font-style:italic;">Total Price: @CurrencyManager.CalcPrice((decimal.Parse(ViewBag.totalPrice)), rate) @code</label>

        <p style="color:darkblue">@ViewBag.keyCustomer</p>

        <input type="hidden" name="totalPrice" value="@ViewBag.totalPrice" readonly />

        <input type="submit" id="submit" value="Order" class="btn btn-dark">
        <br />

    </form>
<div id="jokeContainer">
    <h3>Complimentary Chuck Norris Fact</h3>
</div>