@model IEnumerable<Webshop.Models.Product>

@{
    ViewData["Title"] = "Index";
}

@Html.ActionLink("Back", "Index", "/", null, null)

<table class="table text-center">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            decimal sum = 0;
        }
        @foreach (var item in Model)
        {
            var quantity = HttpContextAccessor.HttpContext.Session.GetString("cartItems").Count(p => p.ToString() == item.Id.ToString());
            var price = Math.Round(item.Price * quantity, 2);
            sum += price;
            <tr>
                <td class="align-middle">
                    @{
                        var base64 = Convert.ToBase64String(item.Image);
                        var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                    }
                    <img src="@imgSrc" style="max-width: 100px; max-height:100px" />
                    <h2 class="align-content-center">@Html.DisplayFor(modelItem => item.Name)</h2>
                </td>
                <td class="align-middle">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <form asp-controller="ShoppingCart" asp-action="AddProductToCart" method="get">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" value="+" class="btn btn-success btn-sm py-0" />
                            </form>
                        </div>
                        <h4 class="mx-auto">@quantity</h4>
                        <div class="input-group-append">
                            <form asp-controller="ShoppingCart" asp-action="DecrementProductQuantity" method="post">
                                <input type="hidden" name="id" value="@item.Id" />
                                <input type="submit" value="-" class="btn btn-danger btn-sm py-0" />
                            </form>
                        </div>
                    </div>
                </td>
                <td class="align-middle">
                    <h2>@price</h2>

                </td>

            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="justify-content-center" colspan="4">
                <h4 class="text-center">Total cost: @sum SEK</h4>
            </td>
        </tr>
    </tfoot>
</table>
<Span class="float-right mr-2">
    @{ 
        string classNames;
        classNames = @Model.Count() <= 0 ? "btn btn-danger disabled" : "btn btn-success";
    }
    @Html.ActionLink("Confirm Order", "SelectPaymentAndDeliveryOption", "OrderConfirmation", 
    new { totalprice = sum.ToString() }, new { @class = $"btn {classNames}"})
</Span>
