@model IEnumerable<Webshop.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@item.Product.Image" />
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <form class="float-left" asp-action="IncrementProductQuantity" method="post">
                        <input type="hidden" name="id" value="@item.OrderId" />
                        <input type="hidden" name="idPart" value="@item.ProductId" />
                        <input type="submit" value="+" class="btn btn-success btn-sm" />
                    </form>
                    <p class="float-left mx-2 text-xl-center">@Html.DisplayFor(modelItem => item.Quantity)</p>
                    <form class="float-left" asp-action="DecrementProductQuantity" method="post">
                        <input type="hidden" name="id" value="@item.OrderId" />
                        <input type="hidden" name="idPart" value="@item.ProductId" />
                        <input type="submit" value="-" class="btn btn-danger btn-sm" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<Span class="float-right">@Html.ActionLink("Confirm Order", "SelectPaymentAndDeliveryOption", "OrderConfirmation", new { products = ViewBag.listOfOrderItems }, null)</Span>
