@model IEnumerable<Webshop.Models.OrderItem>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    <form asp-action="IncrementProductQuantity" method="post">
                        <input type="hidden" name="id" value="@item.OrderId" />
                        <input type="hidden" name="idPart" value="@item.ProductId" />
                        <input type="submit" value="Add" class="btn btn-success" />
                    </form>
                    @Html.DisplayFor(modelItem => item.Quantity)
                    <form asp-action="DecrementProductQuantity" method="post">
                        <input type="hidden" name="id" value="@item.OrderId" />
                        <input type="hidden" name="idPart" value="@item.ProductId" />
                        <input type="submit" value="Remove" class="btn btn-danger" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Confirm Order", "SelectPaymentAndDeliveryOption", "OrderConfirmation", new { productId = ViewBag.productId, orderId = ViewBag.orderId, quantity = ViewBag.quantity, orderItemId = ViewBag.orderItemId })
