@model IEnumerable<Webshop.Models.OrderItem>

@{
    ViewData["Title"] = "Order Items History";
    var index = -1;
}

    <h1>Order History, @Html.DisplayNameFor(model => model.OrderId) : @ViewBag.OrderId</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Review Product
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @{
                    var base64 = Convert.ToBase64String(item.Product.Image);
                    var imgSrc = string.Format("data:image.jpg;base64, {0}", base64);
                    index++;
                }
                <img src="@imgSrc" style="max-width: 100px; max-height:100px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <form asp-controller="Orders" asp-action="AddReview" method="post">
                    <input type="hidden" name="productId" value="@item.ProductId" />
                    <select id="stars" name="stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                    <input type="text" id="description" name="description" />
                    <input type="submit" id="submitReview" value="Save Review" class="btn btn-dark" />
                </form>
            </td>
        </tr>
}        
    </tbody>
</table>
